.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 60px;

    &__background-section {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        overflow: hidden;

        video {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 15%;
            pointer-events: none;
        }

        &::before {
            left: 0;
            background: linear-gradient(to right, rgba(3, 9, 19, 1), rgba(3, 9, 19, 0));
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(3, 9, 19, 1), rgba(3, 9, 19, 0));
        }
    }

    &__box {
        width: 90%; 
        height: auto; 
        position: relative;
        background-color: #152535;
        background: linear-gradient(to right, rgba(3, 9, 19, 0.9) 40%, rgba(3, 9, 19, 0) 100%);
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: #fff;
        padding-bottom: 50px;

        &-conteudo {
            width: 100%;
            max-width: 800px;

            p {
                color: #fff;
            }

            &--links {
                display: flex;
                padding-top: 25px;
                padding-bottom: 25px;

                img {
                    width: 64px;
                    height: 100%;
                    align-items: center;
                    cursor: pointer;
                }
            }

            &-age {
                display: flex;
                align-items: center;

                p {
                    padding-left: 5px;
                }
            }

            &-bottom {
                width: 100%;
                background: linear-gradient(to left, rgba(5, 21, 37, 0), #152535, rgba(5, 21, 37, 0));
                text-align: center;
                padding: 20px 0 15px 0;

                button {
                    background-color: rgb(209, 178, 14);
                    padding: 5px 8px;
                    border-radius: 4px;
                    cursor: pointer;
                    min-width: 178px;
                    color: #fff;
                    font-size: 22px;
                    border: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .section {
        .text-title {
            font-size: 25px;
        }
    }
    .section__background-section {
        position: relative;
        height: auto;
        margin: 0;
    }

    .section__box {
        width: 100%;
        padding: 5%;
        padding-top: 0;
        margin-top: 0; 
    }

    .footer__link--links {
        p {
            display: none;
            padding-bottom: 15px;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .section {
        .text-title {
            font-size: 35px;
        }
    }
    .section__background-section {
        position: relative;
        height: auto;
        margin: 0;

    .section__box {
        width: 100%;
        padding: 5%;
        padding-top: 0;
        margin-top: 0;
        }
    }
}

@media screen and (min-width:1025px) and (max-width:1700px) {
        .section {
        .text-title {
            font-size: 45px;
        }
    }

    .section__box {
        width: 50%;
        padding: 9%;
        padding-top: 0;
        margin-top: 0;
        }
    }

    @media screen and (min-width:1701px) {
        .section {
            .text-title {
                font-size: 45px;
            }
        }
    
        .section__box {
            width: 60%;
            padding: 11%;
            margin-top: 0;
            }
        }